@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #7F3DFF
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/* ===============  BUTTONS  ================ */

.btn{
  background-color: rgba(0, 0, 0, 0.095);
  border-radius: .25rem;
  padding: .25rem 1.25rem;
  font-size: .85rem;
  border : solid 1px transparent;
  min-width: 6.25rem;
  min-height: 2rem;
}
.btn.big{
  height: 2.75rem;
}
.btn:disabled{
  color: rgba(0, 0, 0, 0.5);
}
.btn:disabled:hover{
  background-color: rgba(0, 0, 0, 0.095) ;
}
.btn:hover{
  background-color: rgba(0, 0, 0, 0.15);
}


.btn.primary {
  background-color: var(--primary-color);
  color: white;
}
.btn.primary:hover{
  background-color: #661df8;
}

.btn.secondary {
  border: solid 1px var(--primary-color);
  color : var(--primary-color);
  background-color: transparent;
}

.btn.secondary:hover{
  background-color: #661df8;
  color: white;
  border : solid 1px transparent
}

  /* ======== SCROLL BAR STYLE ========== */
  ::-webkit-scrollbar {
    width: .4rem; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #e4d9fa; 
    border-radius: 5px; 
  }
/* firefoc */
  * {
    scrollbar-width: thin;
    scrollbar-color: #0077b6 #f0f0f0;
  }